@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "PFDinDisplayPro-Regular";
	font-display: swap;
	src: url("../fonts/PFDinDisplayPro-Regular.woff2") format("woff2");
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: "PFDinDisplayPro-Medium";
	font-display: swap;
	src: url("../fonts/PFDinDisplayPro-Medium.woff2") format("woff2");
}
