html {
	font-size: 16px;
	line-height: 1.5;
	font-family: "PFDinDisplayPro-Regular", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color: $color-black;
	background-color: #fafafa;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	overflow-y: scroll;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

:focus-visible {
	@include interactive-outline;
}

@supports not selector(:focus-visible) {
	:focus {
		@include interactive-outline;
	}
}

.container {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}

a {
	color: inherit;
}