{% extends '../main.twig' %}
{% block main %}
	<main>
		<div class="container hero-container">
			<div class="hero-left-wrapper">
				<h2 class="hero-title">
					Юридические услуги по земельным вопросам в Мурманске
				</h2>
				<ul class="hero-list">
					<li class="hero-list__item">
						<a href="#" class="hero-list__link">Все операции с земельными участками.</a>
					</li>
					<li class="hero-list__item">
						<a href="#" class="hero-list__link">Помощь при покупке/продаже недвижимости, загородных домов.</a>
					</li>
					<li class="hero-list__item">
						<a href="#" class="hero-list__link">Всегда на вашей стороне!</a>
					</li>
				</ul>
				<button type="button" class="hero-button">
					Бесплатная консультация
				</button>
			</div>
			<div class="hero-right-wrapper">
				<div class="about-list-wrapper">
					<ul class="about-list">
						<li class="about-list__item">
							<a href="#" class="about-list__link">Арктическое
								<br>
								резиденство</a>
						</li>
						<li class="about-list__item">
							<a href="#" class="about-list__link">Сопровождение
								<br>
								строительства</a>
						</li>
						<li class="about-list__item">
							<a href="#" class="about-list__link">Планировки территорий</a>
						</li>
						<li class="about-list__item">
							<a href="#" class="about-list__link">Подроб земелных
								<br>
								участков</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
