.contacts-list {
	margin: 0 0 45px;
	padding: 0;
	list-style: none;

  @include media-mobile {
		margin: 0 0 10px;
    text-align: center;
	}
}

.contacts-list__item {
	margin-bottom: 6px;
}

.contacts-list__link {
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	text-decoration: none;
	color: #ffffff;

	&--color {
		font-size: 32px;
		color: #171e30;
	}

	@include media-mobile {
		font-size: 20px;
	}
}
