.footer-content {
	&--center {
		justify-self: center;

    @include media-mobile {
			order: 1;
		}
	}

	&--end {
		justify-self: end;

		@include media-mobile {
			order: 2;
		}
	}

	&--start {
		display: flex;
		flex-direction: column;

    @include media-mobile {
			order: 3;
		}
	}
}
