.form {
	position: relative;
	padding: 40px;
	background-color: #f1f1f2;
	border-radius: 30px;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 546px;
		height: 683px;
		background-image: url("../images/woman-background.webp");

		@include media-mobile {
			content: none;
		}
	}

	@include media-mobile {
		padding: 20px;
	}
}

.form__description {
	max-width: 600px;
	font-weight: 500;
	font-size: 32px;
	line-height: normal;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	color: #171e30;

	@include media-mobile {
		font-size: 20px;
	}
}

.form__span {
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	color: #171e30;
}

.form__input {
	min-width: 245px;
	margin-top: 10px;
	padding: 13px 24px;
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	background-color: #eaeaed;
	border: none;
	border-radius: 10px;

	@include media-mobile {
		box-sizing: border-box;
		min-width: auto;
	}
}

.form__text-area {
	min-height: 110px;
	margin-top: 10px;
	padding: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	background-color: #eaeaed;
	border: none;
	border-radius: 10px;
	resize: none;
}

.form__button {
	margin: 25px 25px 0 0;
	padding: 15px 32px;
	font-weight: 500;
	font-size: 18px;
	line-height: normal;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	color: #fafafa;
	background-color: #ed1c24;
	border: none;
	border-radius: 10px;
	cursor: pointer;

	@include media-mobile {
		display: block;
		min-width: 90%;
		margin: 0 auto;
	}
}

.form__label {
	display: flex;
	flex-direction: column;

	&--text {
		width: 100%;
	}

	@include media-mobile {
		margin-bottom: 25px;
	}
}

.form__label:not(:last-child) {
	margin-bottom: 25px;
}

.form__agreement-link {
	display: inline-block;
	vertical-align: sub;
	max-width: 300px;
	font-size: 14px;

	@include media-mobile {
		margin-top: 10px;
		text-align: center;
	}
}
