.hero-button {
  box-sizing: border-box;
  padding: 25px 38px;
  font-weight: 500;
	font-size: 20px;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
  color: #171E30;
  background-color: #fafafa;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @include media-mobile {
   display: block;
   margin: 0 auto;
  }
}