.service-list {
	width: 100%;
	margin: 0;
	padding: 0 0 0 30px;
	list-style: none;
}

.service-list-link {
	position: relative;
	display: block;
	padding: 20px;
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	font-family: "PFDinDisplayPro-Medium",sans-serif;
	text-decoration: none;
	color: #171e30;

	&::after {
		content: "";
		position: absolute;
		top: 25px;
		right: 0;
		width: 18px;
		height: 10px;
		background-image: url("../images/sprite.svg#drop");
	}
}
