.service-list {
	width: 100%;
	margin: 0;
	padding: 0 0 0 30px;
	list-style: none;

	@include media-mobile {
		width: auto;
		padding: 20px 10px;
	}
}

.service-list-item {
	position: relative;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 30px;
}

.service-list-link {
	position: relative;
	display: block;
	max-width: 300px;
	padding: 20px;
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	text-decoration: none;
	color: #171e30;

	@include media-mobile {
		padding: 20px 50px 20px 20px;
		font-size: 20px;
	}
}
