.service-link-button {
	z-index: 1;
	display: inline-block;
	width: min-content;
	margin-top: 30px;
	padding: 15px 36px;
	font-weight: 500;
	font-size: 18px;
	line-height: normal;
	font-family: "PFDinDisplayPro-Medium",sans-serif;
	text-decoration: none;
	color: #fafafa;
	background-color: #ed1c24;
	border-radius: 10px;
}
