.soc-list {
	display: flex;
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;

	&--header {
		@include media-mobile {
			display: none;
		}
	}

	@include media-mobile {
    justify-content: center;
    margin-bottom: 20px;
	}
}

.soc-list__link {
	display: block;
	width: 48px;
	height: 48px;
	background-color: #f1f1f2;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	border-radius: 10px;

	&--vk {
		background-image: url("../images/sprite.svg#vk");
	}

	&--wtsp {
		background-image: url("../images/sprite.svg#whatsapp");
	}

	&--tg {
		background-image: url("../images/sprite.svg#telegram");
	}
}

.soc-list__item:not(:last-child) {
	margin-right: 4px;
}
