.tel-link {
	display: block;
	margin-left: 24px;
	padding: 9px 21px 13px;
	font-weight: 500;
	font-size: 18px;
	font-family: "PFDinDisplayPro-Medium", sans-serif;
	text-decoration: none;
	background-color: #f1f1f2;
	border-radius: 10px;

	@include media-mobile {
    width: 48px;
    height: 48px;
		margin: 0 10px 0 auto;
		padding: 0;
		font-size: 16px;
    background-image: url("../images/sprite.svg#phone");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
	}
}

.tel-link__span {
	@include media-mobile {
		display: none;
	}
}
