.tel-link {
  display: block;
  margin-left: 24px;
  padding: 9px 21px 13px;
  font-weight: 500;
  font-size: 18px;
  font-family: "PFDinDisplayPro-Medium", sans-serif;
  text-decoration: none;
  background-color: #F1F1F2;
  border-radius: 10px;
}