.working-mode {
	margin: 30px 0 0;
	font-weight: 500;
  font-size: 20px;
  font-family: "PFDinDisplayPro-Medium", sans-serif;
  text-decoration: none;
  color: #171e30;

  @include media-mobile {
		margin: 30 0 0;
    text-align: center;
	}
}
